#c{
    background-color: rgba(249, 228, 241, 0.789);
}
.container-fluid{
    background-color:#fff;
}
.container-fluid p{
    font-weight: 700;
    margin-left:20px;
    margin-top:10px;
}
#navbarNav a{
    font-family:Verdana;
    margin-right:20px;
    
}
#navbarNav a:hover{
    color:pink;
    
}
#Home {
  position: relative;
  padding: 60px 0;
}

#Home i {
  color: rgba(99, 98, 98, 0.186);
  font-size: 100px;
}

/* Decorative Icons */
#root {
  position: absolute;
  top: 40px;
  left: 90px;
}

#infinity {
  position: absolute;
  top: 20px;
  right: 60px;
}

#greater {
  position: absolute;
  bottom: 20px;
  left: 150px;
}

/* Left Column */
#head {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-left: 20px;
}

#math {
  margin-top:100px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 192, 203, 0.493);
  color: rgb(213, 65, 90);
  width: 250px;
}

#head h1 {
  font-size: 40px;
  font-weight: 900;
}

#head p {
  font-size: 18px;
}

/* Button Styling */
#head button {
  background-color: rgb(213, 65, 90);
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  margin-top: 20px;
}

#head button a {
  text-decoration: none;
  color: #fff;
}

#head button:hover {
  background-color: rgba(238, 6, 45, 0.942);
}

/* Right Column */
#righth {
  padding: 20px;
}
